# images
*.png
*.jpg
*.jpeg
*.webp
*.bmp
*.tif
*.tiff

# temp files
*.npy
*.npz
*.pth
*.pyc
*.obj
*.ply

#smpl files
*.pkl
*.out
*.txt

# optional: common generated folders
output/
gs_data/
runs/
logs/
